{% extends 'base.html' %}

{% block heading %}
<div class="logout">
<h1>Hello teacher3,</h1>
<h5>Your Account has not been Activated yet! <br><br>
Waiting for approval from the administrator <br><br>
and soon you'll be able to access your account for approval <br> <br>
</h5>
<hr>
<div><button class="btn btn-danger">logout Now</button>
    <div><nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
  ...
</nav>
     </div>
    </div>
</div>
<form action="">

    {{form}}
    <button type="submit" name="SUBMIT
">SUBMIT</button>
</form>
{% endblock %}